<a href="https://colab.research.google.com/github/lagos-a1/ECA-data-base/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import io
from datetime import date


from google.colab import files
uploaded = files.upload()

Data = pd.read_csv(io.StringIO(uploaded['Python.csv'].decode('utf-8')))

Saving Python.csv to Python.csv

In [0]:
Data

                 Name  Gender DateOfBirth                      Industry  Income
0   Forrest Fernandez       2   4/12/2018             Tristique Limited  91 493
1    Helen Harrington       2  29/03/2020      Luctus Ipsum Corporation  36 516
2        Brianna Rios       2   6/08/2018            Nec Tellus Company  48 806
3        Rahim Kinney       2  25/06/2019           Bibendum Associates  80 670
4        Erasmus Rosa       1   5/08/2019  Lorem Vehicula Et Consulting  18 197
..                ...     ...         ...                           ...     ...
95  Orlando Valentine       1  27/11/2019                Magna Cras LLC  39 563
96       Rose Burgess       1  21/09/2019      Nec Ante Blandit Limited  36 587
97        Cade Spence       1  11/08/2018                 Nulla Company  62 780
98    Maxwell Hendrix       1  31/08/2018      Aliquet Molestie Company  89 064
99      Sophia Branch       2  31/10/2019             Mauris Associates  79 135

[100 rows x 5 columns]

In [0]:
BackupData = Data.copy()

In [0]:
Data.dtypes

Name           object
Gender          int64
DateOfBirth    object
Industry       object
Income         object
dtype: object

In [0]:
Data['DateOfBirth'] = pd.to_datetime(Data['DateOfBirth'])

In [0]:
Data.dtypes

Name                   object
Gender                  int64
DateOfBirth    datetime64[ns]
Industry               object
Income                 object
dtype: object

In [0]:
def calculate_age(dtob):
    today = date.today()
    return today.year - dtob.year - ((today.month, today.day) < (dtob.month, dtob.day))

In [0]:
today = date.today()

Data['Age'] = today.year - Data['DateOfBirth'].apply(lambda x: x.year)

In [0]:
Data

                 Name  Gender  ...  Income Age
0   Forrest Fernandez       2  ...  91 493   1
1    Helen Harrington       2  ...  36 516  -1
2        Brianna Rios       2  ...  48 806   1
3        Rahim Kinney       2  ...  80 670   0
4        Erasmus Rosa       1  ...  18 197   0
..                ...     ...  ...     ...  ..
95  Orlando Valentine       1  ...  39 563   0
96       Rose Burgess       1  ...  36 587   0
97        Cade Spence       1  ...  62 780   1
98    Maxwell Hendrix       1  ...  89 064   1
99      Sophia Branch       2  ...  79 135   0

[100 rows x 6 columns]

Date of birth must be always a positive value. However, some ages are negatives.

In [0]:
Data['age_bin'] = pd.cut(x=Data['Age'], bins=[-1, 18, 25, 35, 45, 55, 65], labels=['<18', '25 – 35', '35 – 45','45 – 55','55 – 64','>65'])

In [0]:
Data

                 Name  Gender DateOfBirth  ...  Income Age  age_bin
0   Forrest Fernandez       2  2018-04-12  ...  91 493   1      <18
1    Helen Harrington       2  2020-03-29  ...  36 516  -1      NaN
2        Brianna Rios       2  2018-06-08  ...  48 806   1      <18
3        Rahim Kinney       2  2019-06-25  ...  80 670   0      <18
4        Erasmus Rosa       1  2019-05-08  ...  18 197   0      <18
..                ...     ...         ...  ...     ...  ..      ...
95  Orlando Valentine       1  2019-11-27  ...  39 563   0      <18
96       Rose Burgess       1  2019-09-21  ...  36 587   0      <18
97        Cade Spence       1  2018-11-08  ...  62 780   1      <18
98    Maxwell Hendrix       1  2018-08-31  ...  89 064   1      <18
99      Sophia Branch       2  2019-10-31  ...  79 135   0      <18

[100 rows x 7 columns]

In [0]:
print(Data.to_json(orient ='records'))

[{"Name":"Forrest Fernandez","Gender":2,"DateOfBirth":1523491200000,"Industry":"Tristique Limited","Income":"91 493","Age":1,"age_bin":"<18"},{"Name":"Helen Harrington","Gender":2,"DateOfBirth":1585440000000,"Industry":"Luctus Ipsum Corporation","Income":"36 516","Age":-1,"age_bin":null},{"Name":"Brianna Rios","Gender":2,"DateOfBirth":1528416000000,"Industry":"Nec Tellus Company","Income":"48 806","Age":1,"age_bin":"<18"},{"Name":"Rahim Kinney","Gender":2,"DateOfBirth":1561420800000,"Industry":"Bibendum Associates","Income":"80 670","Age":0,"age_bin":"<18"},{"Name":"Erasmus Rosa","Gender":1,"DateOfBirth":1557273600000,"Industry":"Lorem Vehicula Et Consulting","Income":"18 197","Age":0,"age_bin":"<18"},{"Name":"Lunea Sutton","Gender":1,"DateOfBirth":1562198400000,"Industry":"Inceptos Hymenaeos Mauris Corporation","Income":"73 384","Age":0,"age_bin":"<18"},{"Name":"Orlando Bell","Gender":2,"DateOfBirth":1557100800000,"Industry":"Mi Pede Incorporated","Income":"73 999","Age":0,"age_bin":"<18"},{"Name":"Ahmed Monroe","Gender":2,"DateOfBirth":1574467200000,"Industry":"Rutrum Institute","Income":"69 263","Age":0,"age_bin":"<18"},{"Name":"Autumn Marshall","Gender":2,"DateOfBirth":1571270400000,"Industry":"Egestas A Inc.","Income":"94 849","Age":0,"age_bin":"<18"},{"Name":"Robert Herring","Gender":2,"DateOfBirth":1536624000000,"Industry":"Nisi Associates","Income":"29 224","Age":1,"age_bin":"<18"},{"Name":"Yvette Ramos","Gender":1,"DateOfBirth":1525996800000,"Industry":"Ultricies Industries","Income":"61 549","Age":1,"age_bin":"<18"},{"Name":"Camilla Porter","Gender":1,"DateOfBirth":1532304000000,"Industry":"Montes Nascetur LLP","Income":"62 762","Age":1,"age_bin":"<18"},{"Name":"Xena Huffman","Gender":1,"DateOfBirth":1542931200000,"Industry":"Porttitor Consulting","Income":"94 731","Age":1,"age_bin":"<18"},{"Name":"Yoko Keith","Gender":1,"DateOfBirth":1592870400000,"Industry":"Felis Associates","Income":"52 156","Age":-1,"age_bin":null},{"Name":"Karly Hill","Gender":2,"DateOfBirth":1587859200000,"Industry":"Sodales At PC","Income":"99 624","Age":-1,"age_bin":null},{"Name":"Nina Vaughan","Gender":1,"DateOfBirth":1585872000000,"Industry":"Eu Enim Consulting","Income":"35 053","Age":-1,"age_bin":null},{"Name":"Tanner Rosales","Gender":2,"DateOfBirth":1571529600000,"Industry":"Vitae Inc.","Income":"57 323","Age":0,"age_bin":"<18"},{"Name":"Celeste Hunter","Gender":1,"DateOfBirth":1585612800000,"Industry":"Ipsum Cursus Vestibulum Institute","Income":"59 537","Age":-1,"age_bin":null},{"Name":"Chloe Cruz","Gender":1,"DateOfBirth":1554940800000,"Industry":"Vitae Odio Sagittis LLP","Income":"82 233","Age":0,"age_bin":"<18"},{"Name":"Micah Schwartz","Gender":2,"DateOfBirth":1571788800000,"Industry":"Diam Associates","Income":"25 413","Age":0,"age_bin":"<18"},{"Name":"Kasper Petersen","Gender":2,"DateOfBirth":1590883200000,"Industry":"A LLP","Income":"26 378","Age":-1,"age_bin":null},{"Name":"Gail Harper","Gender":2,"DateOfBirth":1584662400000,"Industry":"Erat Neque Non Inc.","Income":"91 153","Age":-1,"age_bin":null},{"Name":"Patience Miles","Gender":1,"DateOfBirth":1567728000000,"Industry":"A Odio Semper LLP","Income":"38 583","Age":0,"age_bin":"<18"},{"Name":"Hyacinth Holden","Gender":1,"DateOfBirth":1560384000000,"Industry":"Pede Blandit Congue Incorporated","Income":"46 917","Age":0,"age_bin":"<18"},{"Name":"Todd Mcclure","Gender":2,"DateOfBirth":1543104000000,"Industry":"Libero Corporation","Income":"28 302","Age":1,"age_bin":"<18"},{"Name":"Barrett Clayton","Gender":1,"DateOfBirth":1599436800000,"Industry":"Sed LLC","Income":"87 988","Age":-1,"age_bin":null},{"Name":"Emmanuel Padilla","Gender":2,"DateOfBirth":1606780800000,"Industry":"Porttitor Eros Corp.","Income":"32 256","Age":-1,"age_bin":null},{"Name":"Amena Baxter","Gender":2,"DateOfBirth":1581552000000,"Industry":"Dolor Tempus Non Limited","Income":"10 654","Age":-1,"age_bin":null},{"Name":"Duncan Collier","Gender":2,"DateOfBirth":1523318400000,"Industry":"Lorem LLC","Income":"92 651","Age":1,"age_bin":"<18"},{"Name":"Asher Hudson","Gender":1,"DateOfBirth":1601683200000,"Industry":"Aenean Sed LLP","Income":"55 676","Age":-1,"age_bin":null},{"Name":"Ramona Jimenez","Gender":1,"DateOfBirth":1576108800000,"Industry":"Magna Tellus Faucibus Incorporated","Income":"60 453","Age":0,"age_bin":"<18"},{"Name":"Simon Harmon","Gender":2,"DateOfBirth":1564617600000,"Industry":"Dui Nec Urna Incorporated","Income":"69 344","Age":0,"age_bin":"<18"},{"Name":"Noelani Buckner","Gender":1,"DateOfBirth":1577664000000,"Industry":"Non Justo Corp.","Income":"80 192","Age":0,"age_bin":"<18"},{"Name":"Wang Grimes","Gender":1,"DateOfBirth":1563840000000,"Industry":"Ornare Fusce Mollis Consulting","Income":"90 917","Age":0,"age_bin":"<18"},{"Name":"Gretchen Buckley","Gender":1,"DateOfBirth":1557532800000,"Industry":"Donec PC","Income":"46 061","Age":0,"age_bin":"<18"},{"Name":"Dillon Gentry","Gender":2,"DateOfBirth":1550275200000,"Industry":"Sagittis Augue Eu Foundation","Income":"54 694","Age":0,"age_bin":"<18"},{"Name":"Curran Holcomb","Gender":1,"DateOfBirth":1563321600000,"Industry":"Nec Metus Limited","Income":"87 128","Age":0,"age_bin":"<18"},{"Name":"Moses Forbes","Gender":1,"DateOfBirth":1566345600000,"Industry":"Est Mauris Ltd","Income":"89 169","Age":0,"age_bin":"<18"},{"Name":"Lisandra Ferguson","Gender":1,"DateOfBirth":1576108800000,"Industry":"Proin Sed Turpis Limited","Income":"77 582","Age":0,"age_bin":"<18"},{"Name":"Ifeoma Klein","Gender":1,"DateOfBirth":1568332800000,"Industry":"Sit Amet Nulla Corporation","Income":"42 353","Age":0,"age_bin":"<18"},{"Name":"Francesca Rose","Gender":2,"DateOfBirth":1570320000000,"Industry":"Eleifend LLC","Income":"22 593","Age":0,"age_bin":"<18"},{"Name":"Benedict Warner","Gender":1,"DateOfBirth":1584057600000,"Industry":"Sed Leo Incorporated","Income":"15 892","Age":-1,"age_bin":null},{"Name":"Bernard Phelps","Gender":1,"DateOfBirth":1588550400000,"Industry":"Phasellus Nulla Integer Foundation","Income":"86 691","Age":-1,"age_bin":null},{"Name":"Tobias Watkins","Gender":2,"DateOfBirth":1592006400000,"Industry":"Lacinia Sed Congue LLP","Income":"30 951","Age":-1,"age_bin":null},{"Name":"Madaline Nixon","Gender":1,"DateOfBirth":1583193600000,"Industry":"Amet LLP","Income":"31 051","Age":-1,"age_bin":null},{"Name":"Abraham Goodwin","Gender":2,"DateOfBirth":1575158400000,"Industry":"Lacus Industries","Income":"98 499","Age":0,"age_bin":"<18"},{"Name":"Jarrod Greer","Gender":2,"DateOfBirth":1537401600000,"Industry":"Nibh Dolor Nonummy Limited","Income":"40 612","Age":1,"age_bin":"<18"},{"Name":"Ayanna Romero","Gender":2,"DateOfBirth":1568332800000,"Industry":"Non Luctus Ltd","Income":"95 670","Age":0,"age_bin":"<18"},{"Name":"Sharon Flowers","Gender":1,"DateOfBirth":1537574400000,"Industry":"Bibendum Fermentum Ltd","Income":"98 432","Age":1,"age_bin":"<18"},{"Name":"Jaden Leon","Gender":2,"DateOfBirth":1534550400000,"Industry":"Nonummy Fusce Fermentum Limited","Income":"64 815","Age":1,"age_bin":"<18"},{"Name":"Allistair Fernandez","Gender":2,"DateOfBirth":1532217600000,"Industry":"Metus In Nec Industries","Income":"99 075","Age":1,"age_bin":"<18"},{"Name":"James Valentine","Gender":1,"DateOfBirth":1592870400000,"Industry":"A Industries","Income":"62 823","Age":-1,"age_bin":null},{"Name":"Demetria Fleming","Gender":2,"DateOfBirth":1542412800000,"Industry":"Proin Velit Industries","Income":"86 308","Age":1,"age_bin":"<18"},{"Name":"Chiquita Roberts","Gender":2,"DateOfBirth":1540857600000,"Industry":"Tortor Dictum Associates","Income":"52 321","Age":1,"age_bin":"<18"},{"Name":"Dexter Castillo","Gender":1,"DateOfBirth":1571788800000,"Industry":"Risus Donec Ltd","Income":"32 230","Age":0,"age_bin":"<18"},{"Name":"Fletcher Bates","Gender":2,"DateOfBirth":1593561600000,"Industry":"Non Vestibulum Nec Corporation","Income":"50 185","Age":-1,"age_bin":null},{"Name":"Lamar Gray","Gender":1,"DateOfBirth":1544227200000,"Industry":"Neque Pellentesque PC","Income":"63 958","Age":1,"age_bin":"<18"},{"Name":"Justine Reynolds","Gender":2,"DateOfBirth":1556928000000,"Industry":"Taciti Industries","Income":"94 209","Age":0,"age_bin":"<18"},{"Name":"Dale Jarvis","Gender":1,"DateOfBirth":1587427200000,"Industry":"Nonummy LLP","Income":"98 102","Age":-1,"age_bin":null},{"Name":"Shaeleigh Dorsey","Gender":1,"DateOfBirth":1525996800000,"Industry":"Et Rutrum Non PC","Income":"79 815","Age":1,"age_bin":"<18"},{"Name":"Reagan Rhodes","Gender":2,"DateOfBirth":1585180800000,"Industry":"Suspendisse Non Incorporated","Income":"96 690","Age":-1,"age_bin":null},{"Name":"Cruz Park","Gender":2,"DateOfBirth":1591315200000,"Industry":"Ultrices PC","Income":"81 669","Age":-1,"age_bin":null},{"Name":"Dustin Roy","Gender":2,"DateOfBirth":1523404800000,"Industry":"Nulla Tincidunt Neque Incorporated","Income":"70 082","Age":1,"age_bin":"<18"},{"Name":"Cade Ashley","Gender":2,"DateOfBirth":1569888000000,"Industry":"Diam Proin Company","Income":"97 568","Age":0,"age_bin":"<18"},{"Name":"Brent Hobbs","Gender":1,"DateOfBirth":1585872000000,"Industry":"A Dui Institute","Income":"46 949","Age":-1,"age_bin":null},{"Name":"Ray Salazar","Gender":1,"DateOfBirth":1584489600000,"Industry":"Conubia Industries","Income":"58 453","Age":-1,"age_bin":null},{"Name":"Vielka Bowman","Gender":2,"DateOfBirth":1587772800000,"Industry":"Non Lacinia PC","Income":"26 505","Age":-1,"age_bin":null},{"Name":"Wyatt Smith","Gender":1,"DateOfBirth":1564531200000,"Industry":"Sit Amet Risus Incorporated","Income":"80 788","Age":0,"age_bin":"<18"},{"Name":"Finn Maddox","Gender":1,"DateOfBirth":1561507200000,"Industry":"Pellentesque Ultricies Dignissim Inc.","Income":"59 894","Age":0,"age_bin":"<18"},{"Name":"Dylan Whitehead","Gender":1,"DateOfBirth":1574467200000,"Industry":"Nulla Integer Corporation","Income":"11 240","Age":0,"age_bin":"<18"},{"Name":"Susan Cardenas","Gender":1,"DateOfBirth":1559174400000,"Industry":"Euismod Ac Fermentum Corporation","Income":"37 849","Age":0,"age_bin":"<18"},{"Name":"Daryl Meyers","Gender":2,"DateOfBirth":1576972800000,"Industry":"Libero Est Incorporated","Income":"22 291","Age":0,"age_bin":"<18"},{"Name":"Sopoline Macdonald","Gender":1,"DateOfBirth":1552780800000,"Industry":"Sed Pede Consulting","Income":"59 642","Age":0,"age_bin":"<18"},{"Name":"Ursa Richard","Gender":2,"DateOfBirth":1544745600000,"Industry":"Odio Phasellus At Ltd","Income":"23 414","Age":1,"age_bin":"<18"},{"Name":"Karina Bradley","Gender":1,"DateOfBirth":1590710400000,"Industry":"Nec LLP","Income":"62 949","Age":-1,"age_bin":null},{"Name":"Chase Faulkner","Gender":1,"DateOfBirth":1561334400000,"Industry":"Sed LLC","Income":"23 665","Age":0,"age_bin":"<18"},{"Name":"Cara Horn","Gender":2,"DateOfBirth":1586044800000,"Industry":"Odio Limited","Income":"31 566","Age":-1,"age_bin":null},{"Name":"Madeline Blankenship","Gender":2,"DateOfBirth":1554076800000,"Industry":"Ad Litora Limited","Income":"48 691","Age":0,"age_bin":"<18"},{"Name":"India Mcmahon","Gender":1,"DateOfBirth":1554076800000,"Industry":"Aliquam Tincidunt Nunc Industries","Income":"33 494","Age":0,"age_bin":"<18"},{"Name":"Silas Wilcox","Gender":1,"DateOfBirth":1568505600000,"Industry":"Inceptos Hymenaeos Mauris Inc.","Income":"24 281","Age":0,"age_bin":"<18"},{"Name":"Dominique Maldonado","Gender":2,"DateOfBirth":1571788800000,"Industry":"Auctor Vitae Incorporated","Income":"47 072","Age":0,"age_bin":"<18"},{"Name":"Cyrus Frost","Gender":1,"DateOfBirth":1583020800000,"Industry":"Sed Consequat Auctor Company","Income":"70 446","Age":-1,"age_bin":null},{"Name":"Kaden Peters","Gender":2,"DateOfBirth":1585699200000,"Industry":"Pede Foundation","Income":"55 652","Age":-1,"age_bin":null},{"Name":"Karly Vega","Gender":2,"DateOfBirth":1582761600000,"Industry":"Auctor Mauris Limited","Income":"15 194","Age":-1,"age_bin":null},{"Name":"Dora Little","Gender":2,"DateOfBirth":1546646400000,"Industry":"At Lacus Company","Income":"76 580","Age":0,"age_bin":"<18"},{"Name":"Quail Harris","Gender":1,"DateOfBirth":1578182400000,"Industry":"Lorem Corp.","Income":"42 889","Age":-1,"age_bin":null},{"Name":"Quynn Pickett","Gender":2,"DateOfBirth":1558310400000,"Industry":"Accumsan Interdum Ltd","Income":"73 614","Age":0,"age_bin":"<18"},{"Name":"Maile Kent","Gender":2,"DateOfBirth":1548979200000,"Industry":"Magna Sed LLC","Income":"99 119","Age":0,"age_bin":"<18"},{"Name":"Uriel Roberts","Gender":2,"DateOfBirth":1555804800000,"Industry":"Vestibulum Massa Rutrum Foundation","Income":"50 377","Age":0,"age_bin":"<18"},{"Name":"Francis Taylor","Gender":1,"DateOfBirth":1570752000000,"Industry":"Sapien Institute","Income":"82 661","Age":0,"age_bin":"<18"},{"Name":"Kerry Delgado","Gender":1,"DateOfBirth":1577923200000,"Industry":"Semper Rutrum Fusce Corporation","Income":"26 496","Age":-1,"age_bin":null},{"Name":"Lacota Gallegos","Gender":2,"DateOfBirth":1537574400000,"Industry":"Accumsan Sed Consulting","Income":"98 102","Age":1,"age_bin":"<18"},{"Name":"Ursa Meyers","Gender":1,"DateOfBirth":1581638400000,"Industry":"Dictum Associates","Income":"52 353","Age":-1,"age_bin":null},{"Name":"Anne Hall","Gender":1,"DateOfBirth":1588636800000,"Industry":"Tristique Corporation","Income":"12 654","Age":-1,"age_bin":null},{"Name":"Ali Rogers","Gender":1,"DateOfBirth":1572134400000,"Industry":"Neque Et Nunc LLC","Income":"92 687","Age":0,"age_bin":"<18"},{"Name":"Orlando Valentine","Gender":1,"DateOfBirth":1574812800000,"Industry":"Magna Cras LLC","Income":"39 563","Age":0,"age_bin":"<18"},{"Name":"Rose Burgess","Gender":1,"DateOfBirth":1569024000000,"Industry":"Nec Ante Blandit Limited","Income":"36 587","Age":0,"age_bin":"<18"},{"Name":"Cade Spence","Gender":1,"DateOfBirth":1541635200000,"Industry":"Nulla Company","Income":"62 780","Age":1,"age_bin":"<18"},{"Name":"Maxwell Hendrix","Gender":1,"DateOfBirth":1535673600000,"Industry":"Aliquet Molestie Company","Income":"89 064","Age":1,"age_bin":"<18"},{"Name":"Sophia Branch","Gender":2,"DateOfBirth":1572480000000,"Industry":"Mauris Associates","Income":"79 135","Age":0,"age_bin":"<18"}]

In [0]:
Export = Data.to_json (r'C:\Users\lagos\Documents\Interview Data Addiction\Export_DataFrame.json')

In [0]:
Export